<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta property="og:title" content="포만감">
<meta property="og:description" content="PRE-ORDER FOOD DELIVERY PLATFORM">
<meta property="og:image" content="https://poman.kr:9530/api/v1.2/assets/images/_bases/logo.png">
<meta name="description" content="세상을 배부르게, 포만감">
<meta name="keywords" content="포만감, 포만, 만족, 감동, 배달, 배송, 정기배달, 정기배송, 기업배달, 기업배송, 대학교, 대학교배달">
<meta name="author" content="포만감">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title> 포만감 </title>

<!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
<link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS   
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="css/bootstrap.min.css">
	
<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">

<!-- ANIMATIONS -->
<link rel="stylesheet" href="css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/custom.css">

<!-- COLORS -->
<link rel="stylesheet" href="css/colors/orange.css"> 


<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">


<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="js/jquery.min.js"></script>

</head>

<body>
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
<header class="header b2b-home" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay full-screen"> 

	<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
		<div class="container">
			<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a href="/"><span class="custom-icon">포만감</span></a>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="/b2c">포만배송</a></li>
					<li><a href="/b2b"><div class="nav-active">정기배송</div></a></li>
					<li><a href="/company">회사소개</a></li>
					<li><a href="/#section6">제휴문의</a></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->
	
	
	<!-- CONTAINER -->
	<div class="container">
		
		<!-- HEADING AND BUTTONS -->
		<div class="intro-section">
			<!-- WELCOM MESSAGE -->
			<h2 class="intro" id="typing1"></h2>
		</div>
		<!-- /END HEADNING AND BUTTONS -->
	</div>
	
	<!-- BUTTON -->
	<div class="btn_ct_scroll">
		<a class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.0s" id="down-scroll-btn"><button>아래 스크롤</button></a>
	</div>
	<!-- /END BUTTONS -->
	
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->


<!-- =========================
     SECTION 1 - 정기배송
============================== -->
<section class="app-brief" id="b2b-section1">

<div class="container section1-container">
	
	<div class="row">
		
		<div class="col-md-7 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s">
			<div class="phone-image section3-image">
				<img src="images/carte.jpg" alt="" style="border-radius: 10px;">
			</div>
		</div>
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-5 left-align wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="white-text" style="font-weight: bold">그리운 집밥,<br>포만감이 정기적으로 배송해드립니다.</h2>

			<div class="colored-line-left">
			</div>
			
			<p style="color: white">
				집밥이 특별한 이유는, 그 사람만을 위한 밥 짓는 이의 관심과 정성이 들어가 있기 때문입니다.<br>
				포만감 정기배송은 고객에게 맞추어진 특별한 식단을 준비하여 따뜻한 밥상의 온기 그대로 매일 전해드립니다.
			</p>
			
			<div class="colored-line-left" style="margin-top: 20px">
			</div>
			<br>
			
			<!-- MORE -->
			<div style="margin-top: 15px;">
				<a href="/#section6" class="more">정기배송 제휴문의</a>
			</div>
			
		</div>
		<!-- /END RIGHT BRIEF -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 1 -->


	<!-- =========================
      SECTION 2 - app2
============================== -->
<section class="" id="b2c-section2">

<div class="container section1-container">
	
	<div class="row">
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align">

			<!-- SECTION TITLE -->
			<h2 class="b2c-title wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" style="font-weight: bold; color:#232323;text-align: left;">
				포만감만의 맞춤형 콘텐츠로<br>
				특별한 혜택을 즐기세요
			</h2>

			<div class="colored-line-left">
			</div>
			<br>
			<p class="b2c-title wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="30" data-wow-duration="1.5s" style="font-weight: bold; color:#232323;text-align: left;">
				포만감은 고객 식사시간에 맞춰 따뜻한 음식을 정시 배달해 드리는 주문 예약 플랫폼으로
				보다 쉽게 주문하고 빠르게 결제할 수 있는 서비스입니다.
			</p>
			
			<div class="colored-line-left" style="margin-top: 20px">
			</div>
			<br>
			
			<!-- MORE -->
			<div class="b2b-mou">
				<a href="/#section6" class="more-black">정기배송 제휴문의</a>
			</div>

		</div>
		<!-- /END RIGHT BRIEF -->
		
		<!-- IMAGE -->
		<div class="col-md-6 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
			<div class="video_area">
        <img src="images/phone-bg.png" alt="" class="bg_video">
        <video muted playsinline autoplay loop>
          <source src="video/app1.mp4" type="video/mp4"> 
          IE 8 이하는 비디오가 나오지 않습니다. IE 버전을 업데이트 하시길 바랍니다. 
        </video>
        <img src="/images/bg_video_first.png" alt="" class="video" style="display: none;">
      </div>
		</div>
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 2 -->
	
	
<!-- =========================
		SECTION 3 - app3
============================== -->
<section class="" id="b2c-section3">

<div class="container section1-container">

	<div class="row">

		<!-- IMAGE -->
		<div class="col-md-6 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
			<div class="video_area">
				<img src="images/phone-bg.png" alt="" class="bg_video">
				<video muted playsinline autoplay loop>
					<source src="video/app1.mp4" type="video/mp4"> 
					IE 8 이하는 비디오가 나오지 않습니다. IE 버전을 업데이트 하시길 바랍니다. 
				</video>
				<img src="/images/bg_video_first.png" alt="" class="video" style="display: none;">
			</div>
		</div>

		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align">

			<!-- SECTION TITLE -->
			<h2 class="b2c-title wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" style="font-weight: bold; color:#232323;text-align: left;">나의 소중한 점심시간을<br>포만감으로 만나보세요</h2>

			<div class="colored-line-left">
			</div>
		
			<br>
			<!-- APP DOWNLOAD BUTTONS -->
			<div class="b2c-download">
				<a href="https://poman.page.link/app" class="download-btn">
					<img src="images/android_download.png" alt="" width="100%"> 
					<span class="a11y">Google Play 다운로드</span>
				</a>
				<a href="https://poman.page.link/app" class="download-btn">
					<img src="images/ios_download.png" alt="" width="100%"> 
					<span class="a11y">App Store 다운로드</span>
				</a>
			</div>

		</div>
		<!-- /END RIGHT BRIEF -->

	</div>
	<!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 3 -->
	
	
<!-- =========================
     FOOTER 
============================== -->
<footer class="deep-dark-bg">
	<!-- COPYRIGHT TEXT -->
	<div class="copyright">
		<p>
			<b><a href="/">©포만감</a></b>
		</p>
		<p>
			Tel. 0507-1300-6906<br>
			<a href="mailto:contact@poman.kr">contact@poman.kr</a>
		</p>
		<!-- SOCIAL ICONS -->
		<ul style="display: inline-block">
			<li style="display: inline;"><a href="https://www.facebook.com/pomangam" class="facebook"></a></li>
			<li style="display: inline;"><a href="https://www.instagram.com/pomangam_official" class="instagram"></a></li>
			<li style="display: inline;"><a href="http://pf.kakao.com/_xlxbhlj" class="kakao"></a></li>
		</ul>
	</div>
</footer>	
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->

<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/simple-expand.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/matchMedia.js"></script>
<script src="js/jquery.backgroundvideo.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<!--<script src="js/custom.js"></script>-->
<script>
	function isMobile(){
		var UserAgent = navigator.userAgent;
		if (UserAgent.match(/iPhone|iPod|Android|Windows CE|BlackBerry|Symbian|Windows Phone|webOS|Opera Mini|Opera Mobi|POLARIS|IEMobile|lgtelecom|nokia|SonyEricsson/i) != null || UserAgent.match(/LG|SAMSUNG|Samsung/) != null) {
			return true;
		} else {
			return false;
		}
	}	
	
	$('#down-scroll-btn').click(function () {
		var offset = $("#b2b-section1").offset();

    $('html, body').animate({
      scrollTop: offset.top
    }, 500);
    return false;
  });	
</script>

<script>
	/* =================================
		 LOADER                     
	=================================== */
	// makes sure the whole site is loaded
	jQuery(window).load(function() {
					// will first fade out the loading animation
		jQuery(".status").fadeOut();
					// will fade out the whole DIV that covers the website.
		jQuery(".preloader").fadeOut();
	});	
	
	/* =================================
	===  FULL SCREEN HEADER         ====
	=================================== */
	function alturaMaxima() {
		var altura = $(window).height();
		$(".full-screen").css('min-height',altura); 

	}

	$(document).ready(function() {
		alturaMaxima();
		$(window).bind('resize', alturaMaxima);
	});


	$(document).ready(function() {
		alturaMaxima();
		$(window).bind('resize', alturaMaxima);
	});


	/* =================================
	===  SMOOTH SCROLL             ====
	=================================== */
	var scrollAnimationTime = 1200,
			scrollAnimation = 'easeInOutExpo';
	$('a.scrollto').bind('click.smoothscroll', function (event) {
			event.preventDefault();
			var target = this.hash;
			$('html, body').stop().animate({
					'scrollTop': $(target).offset().top
			}, scrollAnimationTime, scrollAnimation, function () {
					window.location.hash = target;
			});
	});


	/* =================================
	===  WOW ANIMATION             ====
	=================================== */
	wow = new WOW(
		{
			mobile: false
		});
	wow.init();
	
	/* =================================
	===  Bootstrap Internet Explorer 10 in Windows 8 and Windows Phone 8 FIX
	=================================== */
	if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
		var msViewportStyle = document.createElement('style')
		msViewportStyle.appendChild(
			document.createTextNode(
				'@-ms-viewport{width:auto!important}'
			)
		)
		document.querySelector('head').appendChild(msViewportStyle)
	}
</script>
<script>
	$(function() {
		var i = 0;
		var j = 0;
		var txt1 = '그리운 집밥,';
		var txt2 = ' 밥상의 온도';

		function typeWriter1() {
			if (i < txt1.length) {
				document.getElementById("typing1").innerHTML += txt1.charAt(i);
				i++;
				setTimeout(typeWriter1, 100);
			} else {
				setTimeout(typeWriter2, 300);
			}
		}
		
		function typeWriter2() {
			if (j < txt2.length) {
				document.getElementById("typing1").innerHTML += txt2.charAt(j);
				j++;
				setTimeout(typeWriter2, 100);
			} else {
				setTimeout(() => $('#down-scroll-btn').show(), 500);
			}
		}
		setTimeout(typeWriter1, 500);
		
	});
</script>

</body>
</html>