<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta property="og:title" content="포만감">
<meta property="og:description" content="PRE-ORDER FOOD DELIVERY PLATFORM">
<meta property="og:image" content="https://poman.kr:9530/api/v1.2/assets/images/_bases/logo.png">
<meta name="description" content="세상을 배부르게, 포만감">
<meta name="keywords" content="포만감, 포만, 만족, 감동, 배달, 배송, 정기배달, 정기배송, 기업배달, 기업배송, 대학교, 대학교배달">
<meta name="author" content="포만감">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title> 포만감 </title>

<!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
<link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS   
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="css/bootstrap.min.css">
	
<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">

<!-- ANIMATIONS -->
<link rel="stylesheet" href="css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/custom.css">

<!-- COLORS -->
<link rel="stylesheet" href="css/colors/orange.css"> 


<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">


<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="js/jquery.min.js"></script>

</head>

<body>
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
<header class="header company-home" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay full-screen"> 

	<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
		<div class="container">
			<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a href="/"><span class="custom-icon">포만감</span></a>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="/b2c">포만배송</a></li>
					<li><a href="/b2b">정기배송</a></li>
					<li><a href="/company"><div class="nav-active">회사소개</div></a></li>
					<li><a href="/#section6">제휴문의</a></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->
	
	
	<!-- CONTAINER -->
	<div class="container">
		
		<!-- HEADING AND BUTTONS -->
		<div class="intro-section">
			<!-- WELCOM MESSAGE -->
			<h2 class="intro wow flipInX animated" data-wow-delay="2.0s" data-wow-duration="3.0s" id="typing1">
				PRE-ORDER FOOD DELIVERY PLATFORM
			</h2>
		</div>
		<!-- /END HEADNING AND BUTTONS -->
	</div>
	
	<!-- BUTTON -->
	<div class="btn_ct_scroll">
		<a class="wow pulse
 animated infinite" data-wow-duration="1.0s" id="down-scroll-btn"><button>아래 스크롤</button></a>
	</div>
	<!-- /END BUTTONS -->
	
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->


<!-- =========================
      SECTION 1 - VISION
============================== -->
<section class="deep-dark-bg" id="company-section1">
	
<div class="container company-container">
	
	<h4 class="company-category">VISION</h4>
	<div class="colored-line-left"></div>
	<h1 class="company-title wow fadeInUp animated animated">더 나은 배달 문화를 위한<br>비지니스 플랫폼</h1>
	<div class="colored-line-left"></div>
	<br>
	<p class="company-word wow fadeInUp animated animated">
		우리는 좋은 음식을 통해 더 나은 삶을 만들 수 있다고 믿습니다.<br>
		외식업의 본질인 좋은 음식과 서비스에만 집중할 수 있는 환경을 만들기 위해,<br>
		외식 사업자들의 파트너로서 신뢰할 수 있는 외식 통합 플랫폼을 만들어나가고 있습니다.
	</p>
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 1 -->
	
	
<!-- =========================
     SECTION 2 - MISSION
============================== -->
<section class="" id="company-section2">

<div class="container company-container">
	
	<h4 class="company-category">MISSION</h4>
	<div class="colored-line-left"></div>
	<h1 class="company-title wow fadeInUp animated animated">
		신뢰할 수 있는<br>
		외식 통합 플랫폼으로<br>
		미식 문화의 발전에<br>
		기여하고자 합니다
	</h1>
	<div class="colored-line-left"></div>
	<br>
	<p class="company-word wow fadeInUp animated animated">
		매일 무엇을 먹을지 고민하는 이들에게는 더 나은 선택을 위한 가이드를 제공하며,<br>
		좋은 음식과 서비스를 제공하는 외식 사업자에게는 실질적인 도움을 제공하는<br>
		파트너가 되고자 합니다.
	</p>
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 2 -->	
	
	
<!-- =========================
      SECTION 3 - HISTORY
============================== -->
<section class="deep-dark-bg" id="company-section3">
	
<div class="container company-container">
	
	<h4 class="company-category">HISTORY</h4>
	<div class="colored-line-left"></div>
	
	<div class="row" style="margin-top: 70px; padding-right: 50px;">
	
		<div class="col-md-3 wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
			<h1 style="font-weight: bold">2020</h1>
		</div>
		
		<div class="col-md-9 wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
			<li class="history-item">
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							12월
						</div>
						<div class="col-md-10 history-title">
							(주)포만감 법인 설립 예정
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							11월
						</div>
						<div class="col-md-10 history-title">
							Kickstart Investment 으로부터 Pre-Series A 투자유치
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							10월
						</div>
						<div class="col-md-10 history-title">
							예약 보증금, 선결제 시스템 도입
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							6월
						</div>
						<div class="col-md-10 history-title">
							포만감도시락 PB 런칭
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							5월
						</div>
						<div class="col-md-10 history-title">
							한국경제신문 빌딩 내부의 다수 기업에 납품
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							3월
						</div>
						<div class="col-md-10 history-title">
							한국경제신문 업무제휴 협약
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							1월
						</div>
						<div class="col-md-10 history-title">
							예약배송 플랫폼 포만감 2.0 런칭
						</div>
					</div>
				</ol>
			</li>
		</div>
		
	</div>
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 3 -->

	
<!-- =========================
     SECTION 4 - CONTACT
============================== -->
<section class="" id="company-section4">

<div class="container company-container">
	
	<h4 class="company-category">CONTACT</h4>
	<div class="colored-line-left"></div>
	<br>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-9 wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
			<li class="history-item">
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							주소
						</div>
						<div class="col-md-10 history-title">
							경기도 고양시 덕양구 화정동 956
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							찾아오시는 길
						</div>
						<div class="col-md-10 history-title">
							화정역 3번출구 (덕양구청 방면) 200m 도보
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							대표전화
						</div>
						<div class="col-md-10 history-title">
							0507-1300-6906
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							팩스
						</div>
						<div class="col-md-10 history-title">
							0507-1300-6906
						</div>
					</div>
				</ol>
				<ol>
					<div class="row">
						<div class="col-md-2 month">
							이메일
						</div>
						<div class="col-md-10 history-title">
							<a href="mailto:contact@poman.kr" style="color: white">contact@poman.kr</a>
						</div>
					</div>
				</ol>
			</li>
		</div>
		
	</div>
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 4 -->	
	
	
	
<!-- =========================
     FOOTER 
============================== -->
<footer class="deep-dark-bg">
	<!-- COPYRIGHT TEXT -->
	<div class="copyright">
		<p>
			<b><a href="/">©포만감</a></b>
		</p>
		<p>
			Tel. 0507-1300-6906<br>
			<a href="mailto:contact@poman.kr">contact@poman.kr</a>
		</p>
		<!-- SOCIAL ICONS -->
		<ul style="display: inline-block">
			<li style="display: inline;"><a href="https://www.facebook.com/pomangam" class="facebook"></a></li>
			<li style="display: inline;"><a href="https://www.instagram.com/pomangam_official" class="instagram"></a></li>
			<li style="display: inline;"><a href="http://pf.kakao.com/_xlxbhlj" class="kakao"></a></li>
		</ul>
	</div>
</footer>	
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->

<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/simple-expand.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/matchMedia.js"></script>
<script src="js/jquery.backgroundvideo.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<!--<script src="js/custom.js"></script>-->
<script>
	function isMobile(){
		var UserAgent = navigator.userAgent;
		if (UserAgent.match(/iPhone|iPod|Android|Windows CE|BlackBerry|Symbian|Windows Phone|webOS|Opera Mini|Opera Mobi|POLARIS|IEMobile|lgtelecom|nokia|SonyEricsson/i) != null || UserAgent.match(/LG|SAMSUNG|Samsung/) != null) {
			return true;
		} else {
			return false;
		}
	}	
	
	$('#down-scroll-btn').click(function () {
		var offset = $("#company-section1").offset();

    $('html, body').animate({
      scrollTop: offset.top
    }, 500);
    return false;
  });	
</script>

<script>
	/* =================================
		 LOADER                     
	=================================== */
	// makes sure the whole site is loaded
	jQuery(window).load(function() {
					// will first fade out the loading animation
		jQuery(".status").fadeOut();
					// will fade out the whole DIV that covers the website.
		jQuery(".preloader").fadeOut();
	});	
	
	/* =================================
	===  FULL SCREEN HEADER         ====
	=================================== */
	function alturaMaxima() {
		var altura = $(window).height();
		$(".full-screen").css('min-height',altura); 

	}

	$(document).ready(function() {
		alturaMaxima();
		$(window).bind('resize', alturaMaxima);
	});


	$(document).ready(function() {
		alturaMaxima();
		$(window).bind('resize', alturaMaxima);
	});


	/* =================================
	===  SMOOTH SCROLL             ====
	=================================== */
	var scrollAnimationTime = 1200,
			scrollAnimation = 'easeInOutExpo';
	$('a.scrollto').bind('click.smoothscroll', function (event) {
			event.preventDefault();
			var target = this.hash;
			$('html, body').stop().animate({
					'scrollTop': $(target).offset().top
			}, scrollAnimationTime, scrollAnimation, function () {
					window.location.hash = target;
			});
	});


	/* =================================
	===  WOW ANIMATION             ====
	=================================== */
	wow = new WOW(
		{
			mobile: false
		});
	wow.init();
	
	/* =================================
	===  Bootstrap Internet Explorer 10 in Windows 8 and Windows Phone 8 FIX
	=================================== */
	if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
		var msViewportStyle = document.createElement('style')
		msViewportStyle.appendChild(
			document.createTextNode(
				'@-ms-viewport{width:auto!important}'
			)
		)
		document.querySelector('head').appendChild(msViewportStyle)
	}
</script>
<script>
	$(function() {
		if(!isMobile()) {
			setTimeout(() => $('#down-scroll-btn').show('fadeIn'), 3500);
		} else {
			$('#down-scroll-btn').show('fadeIn');
		}
	});
</script>

</body>
</html>