<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148027310-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-148027310-1');
</script>

<meta charset="UTF-8">
<meta property="og:title" content="포만감">
<meta property="og:description" content="PRE-ORDER FOOD DELIVERY PLATFORM">
<meta property="og:image" content="https://poman.kr:9530/api/v1.2/assets/images/_bases/logo.png">
<meta name="description" content="세상을 배부르게, 포만감">
<meta name="keywords" content="포만감, 포만, 만족, 감동, 배달, 배송, 정기배달, 정기배송, 기업배달, 기업배송, 대학교, 대학교배달, 도시락, 기업 도시락, 기업 도시락 배송, 기업 도시락 배달, 회사 도시락, 회사 도시락 배달">
<meta name="author" content="포만감">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title> 포만감 </title>

<!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
<link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS   
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="css/bootstrap.min.css">
	
<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">

<!-- ANIMATIONS -->
<link rel="stylesheet" href="css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/custom.css">

<!-- COLORS -->
<link rel="stylesheet" href="css/colors/orange.css"> 


<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">


<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="js/jquery.min.js"></script>

</head>

<body>
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<a class="custom-badge" href="/order">
	<div style="float:right; padding: 5px; text-align: left;">포만감<br>주문하기</div>
</a>

<!-- =========================
     HEADER   
============================== -->
<header class="header" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay full-screen"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->

	<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
		<div class="container">
			<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a href="/"><span class="custom-icon">포만감</span></a>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="/order">주문하기</a></li>
<!--					<li><a href="/b2c">포만배송</a></li>-->
					<li><a href="/b2b">정기배송</a></li>
					<li><a href="/company">회사소개</a></li>
					<li><a href="#section6">제휴문의</a></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->
	
	
	<!-- CONTAINER -->
	<div class="container">
		
		<!-- ONLY LOGO ON HEADER -->
		<div class="only-logo">
			<div class="navbar">
				<div class="navbar-header">
					<img src="images/logo3.png" width="120px" alt="">
				</div>
			</div>
		</div> <!-- /END ONLY LOGO ON HEADER -->
		
		<!-- HEADING AND BUTTONS -->
		<div class="intro-section">
			<!-- WELCOM MESSAGE -->
			<h2 class="intro" id="typing1"></h2>
			<h4 id="typing2"></h4>
		</div>
		<!-- /END HEADNING AND BUTTONS -->
	</div>
	
	<!-- BUTTON -->
	<div class="btn_ct_scroll">
		<a class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.0s" id="down-scroll-btn"><button>아래 스크롤</button></a>
	</div>
	<!-- /END BUTTONS -->
	
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->


<!-- =========================
      SECTION 1 - 포만감
============================== -->
<section class="app-brief deep-dark-bg" id="section1">

<div class="container section1-container">
	
	<div class="row">
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align">
			
			<!-- SECTION TITLE -->
			<h2 class="white-text wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" style="font-weight: bold">나의 소중한 점심시간을<br>지키는 특별한 방법</h2>

			<div class="colored-line-left">
			</div>
			
			<p class="wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="30" data-wow-duration="1.5s" style="color: white">
				포만감은 고객 식사시간에 맞춰 따뜻한 음식을 정시 배달해 드리는 주문 예약 플랫폼으로<br>
				보다 쉽게 주문하고 빠르게 결제할 수 있는 서비스입니다.
			</p>
			
			<div class="colored-line-left" style="margin-top: 20px">
			</div>
			<br>
			
			<!-- MORE -->
			<div style="margin-top: 15px;">
				<a href="/b2c" class="more wow fadeInUp animated" data-wow-delay="0.7s" data-wow-offset="30" data-wow-duration="1.5s">포만감 더 알아보기</a>
			</div>
			
		</div>
		<!-- /END RIGHT BRIEF -->
		
		<!-- IMAGE -->
		<div class="col-md-6 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
			<div class="video_area">
        <img src="images/phone-bg.png" alt="" class="bg_video">
		<video muted playsinline autoplay loop>
			<source src="video/app_1.mp4" type="video/mp4">
			IE 8 이하는 비디오가 나오지 않습니다. IE 버전을 업데이트 하시길 바랍니다.
		</video>

        <img src="images/bg_video_first.png" alt="" class="video" style="display: none;">
      </div>
		</div>
		
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 1 -->


<!-- =========================
     SECTION 2 - 정기배송
============================== -->
<section class="app-brief" id="section2">
<div class="container section2-container">

	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">

		<div class="h2" style="font-weight: bold; color: white">포만감 정기배송</div>
		<div style="border-bottom: solid 1px #ff4500; width: 150px;position: absolute;left: 50%;transform: translate(-50%);margin-top: 10px;"></div>
	</div>
	<!-- /END SECTION HEADER -->

	<div class="row step-row">
		
		<div class="col-md-4 wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">
			<div class="step">
				<img src="https://b.zmtcdn.com/images/red/drinks_step_1_3x.png?output-format=webp" class="step-img" alt="제휴" width="135px" height="135px">
				<div class="step-title">Step 1</div>
				<div class="step-contents">하루 식사 가격 <strong style="color:#333">5,760원</strong><br>정기배송을 간단하게 신청하세요.</div>
			</div>
		</div>
		<div class="col-md-4 wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">
			<div class="step">
				<img src="https://b.zmtcdn.com/images/red/food_step_3.png?output-format=webp" class="step-img" alt="제휴" width="135px" height="135px">
				<div class="step-title">Step 2</div>
				<div class="step-contents">매일 <strong style="color:#333">점심시간, 회사 문 앞</strong>으로<br>따듯한 집밥이 배송됩니다.</div>
			</div>
		</div>
		<div class="col-md-4 wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">
			<div class="step">
				<img src="https://b.zmtcdn.com/images/red/drinks_step_2_3x.png?output-format=webp" class="step-img" alt="제휴" width="135px" height="135px">
				<div class="step-title">Step 3</div>
				<div class="step-contents">번거로운 <strong style="color:#333">쓰레기, 음식물 처리</strong><br>포만감 회수팀이 치워드립니다.</div>
			</div>
		</div>
		
	</div>
	<!-- /END ROW -->

	<div style="margin-top: 100px;">
		<a href="/#section6" class="more wow fadeInUp animated" data-wow-delay="0.7s" data-wow-offset="30" data-wow-duration="1.5s" style="font-weight: normal !important;">
			정기배송 신청하기
		</a>
	</div>
	
</div>
<!-- /END CONTAINER -->
</section>
<!-- /END SECTION 2 -->


<section class="trans-divider">
	<div class="color-overlay"></div>
</section>

<!-- =========================
     SECTION 3 - 식단표
============================== -->
<section class="testimonials deep-dark-bg" id="section3">

<div class="container section3-container">

	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">

		<div class="h2" style="font-weight: bold; color: white">포만감 정기식단</div>
		<div style="border-bottom: solid 1px #ff4500; width: 150px;position: absolute;left: 50%;transform: translate(-50%);margin-top: 10px;"></div>
		<p style="color: white; margin-top: 50px">
			매주 새롭고 특별한 식단으로 배송됩니다.
		</p>
	</div>
	<!-- /END SECTION HEADER -->

	<div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">

		<div id="screenshots2" class="owl-carousel owl-theme">

			<div th:each="carte : ${cartes}" class="shot">
				<a th:href="@{${carte.getImagePath()}}" data-lightbox-gallery="screenshots-gallery">
					<img th:src="@{${carte.getImagePath()}}" alt="Screenshot" style="object-fit: cover">
					<div class="shot-inner-box">
						<span th:text="${carte.convertDateToString()}" class="shot-inner-author" style="margin-bottom:15px"></span>
						<span class="shot-inner-contents">
							<th:block th:each="item : ${carte.getCarteItems()}">
								<th:block th:text="${item.getName()}"></th:block><br>
							</th:block>
						</span>
					</div>
				</a>
			</div>

		</div>
		<!-- /END SCREENSHOTS -->

	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 3 -->

	
<section class="trans-divider">
	<div class="color-overlay"></div>
</section>
<!-- /END DIVIDER -->
	
	
<!-- =========================
     SECTION 4 - APP 소개
============================== -->
<section class="app-brief" id="section4">

<div class="container section4-container">
	
	<div class="row">
		
		<!-- PHONES IMAGE -->
		<div class="col-md-6 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
			<div class="video_area">
        <img src="images/phone-bg.png" alt="" class="bg_video">
        <video muted playsinline autoplay loop >
          <source src="video/app_1.mp4" type="video/mp4">
          IE 8 이하는 비디오가 나오지 않습니다. IE 버전을 업데이트 하시길 바랍니다. 
        </video>
        <img src="images/bg_video_first.png" alt="" class="video" style="display: none;">
      </div>
		</div>
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
			
			<!-- SECTION TITLE -->
			<h2 class="white-text">
				가장 쉽고 빠른<br>
				점심배송 예약을 경험하세요
			</h2>
			
			<div class="colored-line-left">
			</div>
			
			<p style="color: white">
				포만감을 활용하면 소중한 점심시간에 애타게 기다리시지 않아도 됩니다.<br>
				고객이 원하는 맛집의 메뉴를 식사 시작 시간에 맞추어 배송해드립니다.
			</p>
			
			<div class="colored-line-left" style="margin-top: 20px">
			</div>
			<br>
			
			<!-- APP DOWNLOAD BUTTONS -->
			<div style="margin-top: 15px;">
				<a href="https://poman.page.link/app" class="download-btn">
					<img src="images/android_download.png" alt="" width="100%"> 
					<span class="a11y">Google Play 다운로드</span>
				</a>
				<a href="https://poman.page.link/app" class="download-btn">
					<img src="images/ios_download.png" alt="" width="100%"> 
					<span class="a11y">App Store 다운로드</span>
				</a>
			</div>
			
		</div>
		<!-- /END RIGHT BRIEF -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION 4 -->	
	
	
<section class="trans-divider">
	<div class="color-overlay"></div>
</section>
<!-- /END DIVIDER -->

	
<!-- =========================
     SECTION 5 - TESTIMONIALS 
============================== -->
<section class="testimonials deep-dark-bg" id="section5">

<div class="container section5-container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">

		<div class="h2" id="first-text">점심 먹고 </div>
		<div class="h2" id="second-text">
			<div class="animated-text">
				<div class="line">낮잠 자고</div>
				<div class="line">독서 하고</div>
				<div class="line">산책 하고</div>
				<div class="line">카페 가고</div>
				<div class="line">수다 떨고</div>
				<div class="line">쇼핑 하고</div>
			</div>
		</div>
		<div class="h2" id="third-text">싶어요</div>
		<p style="color: white; margin-top: 30px">
			포만감을 통해 고객의 삶이 여유로워지길 바랍니다
		</p>

	</div>
	<!-- /END SECTION HEADER -->
	
	<div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<div id="screenshots" class="owl-carousel owl-theme">
			
			<div class="shot">
				<a href="images/screenshots/s2.jpg" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s2.jpg" alt="Screenshot" style="object-fit: cover;">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 매일 바뀌는 식단 덕분에 '뭐먹지?' 고민할 필요가 없어요! "
						</span>
						<span class="shot-inner-contents">
							포만감을 이용한 뒤로, 점심시간이 기다려져요. 호불호 없는 식단 구성과 다채로운 메뉴 덕분에 회사에서도 건강을 챙길 수 있게 되었습니다.
						</span>
						<span class="shot-inner-author">H기업 한OO 님</span>
					</div>
				</a>
			</div>
			
			<div class="shot">
				<a href="images/screenshots/s8.jpg" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s8.jpg" alt="Screenshot">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 정확한 정시 배송 덕분에 점심시간이 여유로워졌어요. "
						</span>
						<span class="shot-inner-contents">
							매일 같은 시간에 맞춰 오셔서 빠르게 식사를 끝낼 수 있어요. 덕분에 남은 시간 여유롭게 커피도 마시고 낮잠도 잘 수 있어서 너무 만족스럽습니다.
						</span>
						<span class="shot-inner-author">A기업 최OO 님</span>
					</div>
				</a>
			</div>
			
			<div class="shot">
				<a href="images/screenshots/s1.jpg" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s1.jpg" alt="Screenshot">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 정말 맛있는데 너무 맛있는데... 건강한 맛까지 느낄 수 있어요. "
						</span>
						<span class="shot-inner-contents">
							조미료를 거의 사용하지 않은 것 같아요. 음식 하나하나가 정갈하고 깔끔해서 엄마가 해준 집 밥을 먹는 기분이 들어요.
						</span>
						<span class="shot-inner-author">I기업 박OO 님</span>
					</div>
				</a>
			</div>
			
			<div class="shot">
				<a href="images/screenshots/s4.jpg" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s4.jpg" alt="Screenshot">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 너무 고급스러운 구성 때문에 점심시간마다 모두들 사진 찍기 바빠요. "
						</span>
						<span class="shot-inner-contents">
							입으로 맛보기 전에 눈으로 먼저 먹는 기분이에요! 다량의 도시락을 어쩜 이렇게 예쁘게 만들 수 있는지... 인스타그램용 사진으로 완전 딱!
						</span>
						<span class="shot-inner-author">C기업 김OO 님</span>
					</div>
				</a>
			</div>
			
			<div class="shot">
				<a href="images/screenshots/s2.png" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s2.png" alt="Screenshot" style="object-fit: cover;">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 식대 관리를 편리하게 처리할 수 있어서 너무 편해요. "
						</span>
						<span class="shot-inner-contents">
							세금계산서까지 발급해 주고, 결제도 편리해서 직원들 식대 관리가 매우 편안해졌습니다! 직원 모두가 너무너무 만족스러워합니다!
						</span>
						<span class="shot-inner-author">B기업 한OO 담당자님</span>
					</div>
				</a>
			</div>
			
			<div class="shot">
				<a href="images/screenshots/s6.jpg" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s6.jpg" alt="Screenshot">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 기사님이 너무 친절하고, 도시락에 붙어오는 쪽지도 너무 감동적입니다. "
						</span>
						<span class="shot-inner-contents">
							힘든 회사 생활에도 친절한 기사님과 고객 응대 서비스 덕분에 마음이 따뜻해져요. '오늘의 잔소리' 쪽지도 너무 인상적이에요

						</span>
						<span class="shot-inner-author">A기업 최OO 담당자님</span>
					</div>
				</a>
			</div>
			
			<div class="shot">
				<a href="images/screenshots/s7.png" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s7.png" alt="Screenshot" style="object-fit: cover;">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 자체 어플이 있어서 메뉴를 보고 주문하는 것도 정말 편리합니다. "
						</span>
						<span class="shot-inner-contents">
							매일 바뀌는 식단을 보고 바로 주문할 수 있어서 정말 편리해요! 직원들 모두 앱을 깔아서 각자 주문해서 함께 먹을 수 있는 점이 너무 좋아요.
						</span>
						<span class="shot-inner-author">D기업 홍OO 담당자님</span>
					</div>
				</a>
			</div>
			
			<div class="shot">
				<a href="images/screenshots/s3.png" data-lightbox-gallery="screenshots-gallery">
					<img src="images/screenshots/s3.png" alt="Screenshot">
					<div class="shot-inner-box">
						<span class="shot-inner-title">
							" 요즘 배달 요금도 너무 비싼데, 무료배달에 합리적인 음식 가격 때문에 매일 주문합니다. "
						</span>
						<span class="shot-inner-contents">
							무료 배달에, 신경 쓰지 않아도 점심시간에 맞추어 가져다주니까 정말 편리합니다. 고급스러운 음식인데도 합리적인 가격이라서 포만감을 고정적으로 매일 이용합니다!
						</span>
						<span class="shot-inner-author">B기업 박OO 담당자님</span>
					</div>
				</a>
			</div>
			
		</div>
		<!-- /END SCREENSHOTS -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->


<!-- =========================
     SECTION 6 - 문의하기 
============================== -->
<section class="contact color-overlay" id="section6">

<div class="container section6-container">
	
	<div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<a class="btn contact-button expand-form expanded" style="display: none"><i class="icon_mail_alt"></i></a>
		
		<h2 style="font-weight: bold; color: white;">제휴문의</h2>
		
		<!-- EXPANDED CONTACT FORM -->
		<div class="row expanded-contact-form">
			
			<div class="col-md-8 col-md-offset-2">
				
				<!-- FORM -->
				<form class="contact-form" id="contact" role="form">
					
					<!-- IF MAIL SENT SUCCESSFULLY -->
					<h4 class="success">
						<i class="icon_check"></i> 문의가 성공적으로 등록되었습니다.
					</h4>
					
					<!-- IF MAIL SENDING UNSUCCESSFULL -->
					<h4 class="error">
						<i class="icon_error-circle_alt"></i> 성함과 이메일을 모두 적어주세요.
					</h4>
					
					<div class="col-md-6">
						<input class="form-control input-box" id="name" type="text" name="name" placeholder="성함">
					</div>
					
					<div class="col-md-6">
						<input class="form-control input-box" id="email" type="email" name="email" placeholder="이메일">
					</div>
					
					<div class="col-md-12">
						<textarea class="form-control textarea-box" id="message" rows="8" placeholder="문의하실 내용을 입력해주세요"></textarea>
					</div>
					
					<button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">문의하기</button>
					
				</form>
				<!-- /END FORM -->
				
			</div>
			
		</div>
		<!-- /END EXPANDED CONTACT FORM -->
		
	</div>
	<!-- /END CONTACT BOX -->
	
</div>
<!-- /END CONTAINER -->
 
</section>
<!-- /END SECTION 6 -->

	
<!-- =========================
     FOOTER 
============================== -->
<footer class="deep-dark-bg">
	<!-- COPYRIGHT TEXT -->
	<div class="copyright" style="width: 350px">
		<p>
			<b><a href="/">©포만감</a></b>
		</p>
		<p>
			사업자등록번호. 546-05-00933  |  대표자. 최은성<br>
			<a href="https://poman.kr:9530/api/v1.2/policies/info" target="_blank">통신판매번호. 2019-고양덕양구-0617</a><br>
			상호명. 포만감  |  Tel. 0507-1300-6906<br>
			경기도 고양시 일산동구 숲속마을2로 114-3, 1층 101호 <br>
			<a href="mailto:contact@poman.kr">contact@poman.kr</a>
		</p>
		<!-- SOCIAL ICONS -->
		<ul style="display: inline-block">
			<li style="display: inline;"><a href="https://www.facebook.com/pomangam" class="facebook"></a></li>
			<li style="display: inline;"><a href="https://www.instagram.com/pomangam_official" class="instagram"></a></li>
			<li style="display: inline;"><a href="http://pf.kakao.com/_xlxbhlj" class="kakao"></a></li>
		</ul>
	</div>
</footer>
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->

<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/simple-expand.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/matchMedia.js"></script>
<script src="js/jquery.backgroundvideo.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/custom.js"></script>

<script th:inline="javascript">

	var sessionValue= /*[[ ${session.isName} ]]*/ "";
	console.log(sessionValue);

	function isMobile(){
		var UserAgent = navigator.userAgent;
		if (UserAgent.match(/iPhone|iPod|Android|Windows CE|BlackBerry|Symbian|Windows Phone|webOS|Opera Mini|Opera Mobi|POLARIS|IEMobile|lgtelecom|nokia|SonyEricsson/i) != null || UserAgent.match(/LG|SAMSUNG|Samsung/) != null) {
			return true;
		} else {
			return false;
		}
	}	
	
	$('#down-scroll-btn').click(function () {
		var offset = $("#section1").offset();

    $('html, body').animate({
      scrollTop: offset.top
    }, 500);
    return false;
  });	
</script>
<script>
	
	/* =================================
	===  RESPONSIVE VIDEO           ====
	=================================== */

	$(".video-container").fitVids();
	
	
	/* =================================
	===  VIDEO BACKGROUND           ====
	=================================== */
	if (matchMedia('(min-width: 640px)').matches) {
		 $(document).ready(function() {
			var videobackground = new $.backgroundVideo($('body'), {
				"align": "centerXY",
				"width": 1280,
				"height": 720,
				"path": "video/",
				"filename": "video",
				"types": ["mp4"],
			});
		});
	}
	
	$(function() {
		var i = 0;
		var j = 0;
		var txt1 = '포만하다 [포ː만하다]';
		var txt2 = '1. (어떤 대상이나 느낌 따위가) 넘치도록 가득하다';

		function typeWriter1() {
			if (i < txt1.length) {
				document.getElementById("typing1").innerHTML += txt1.charAt(i);
				i++;
				setTimeout(typeWriter1, 50);
			} else {
				setTimeout(typeWriter2, 500);
			}
		}
		function typeWriter2() {
			if (j < txt2.length) {
				document.getElementById("typing2").innerHTML += txt2.charAt(j);
				j++;
				setTimeout(typeWriter2, 10);
			} else {
				$('#down-scroll-btn').show();
			}
		}
		setTimeout(typeWriter1, 500);
		
	});
</script>

</body>
</html>