<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148027310-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-148027310-1');
    </script>

    <meta charset="UTF-8">
    <meta property="og:title" content="포만감">
    <meta property="og:description" content="PRE-ORDER FOOD DELIVERY PLATFORM">
    <meta property="og:image" content="https://poman.kr:9530/api/v1.2/assets/images/_bases/logo.png">
    <meta name="description" content="세상을 배부르게, 포만감">
    <meta name="keywords" content="포만감, 포만, 만족, 감동, 배달, 배송, 정기배달, 정기배송, 기업배달, 기업배송, 대학교, 대학교배달, 도시락, 기업 도시락, 기업 도시락 배송, 기업 도시락 배달, 회사 도시락, 회사 도시락 배달">
    <meta name="author" content="포만감">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE TITLE -->
    <title> 포만감 </title>

    <!-- =========================
          FAV AND TOUCH ICONS
    ============================== -->
    <link rel="icon" href="../../images/favicon.ico">
    <link rel="apple-touch-icon" href="../../images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">

    <!-- =========================
         STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../css/owl.theme.css">
    <link rel="stylesheet" href="../../css/owl.carousel.css">
    <link rel="stylesheet" href="../../css/nivo-lightbox.css">
    <link rel="stylesheet" href="../../css/nivo_themes/default/default.css">

    <!-- ANIMATIONS -->
    <link rel="stylesheet" href="../../css/animate.min.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/custom.css">

    <!-- COLORS -->
    <link rel="stylesheet" href="../../css/colors/orange.css">


    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../css/responsive.css">


    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
    <script src="../../js/respond.min.js"></script>
    <![endif]-->

    <!-- JQUERY -->
    <script src="../../js/jquery.min.js"></script>

</head>

<body>
<!-- =========================
     PRE LOADER
============================== -->
<div class="preloader">
    <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER
============================== -->
<header class="header">

    <!-- STICKY NAVIGATION -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
        <div class="container">
            <div class="navbar-header">

                <!-- LOGO ON STICKY NAV BAR -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/"><span class="custom-icon">포만감</span></a>

            </div>

            <!-- NAVIGATION LINKS -->
            <div class="navbar-collapse collapse in" id="kane-navigation">
                <ul class="nav navbar-nav navbar-right main-navigation">
                    <li><a href="/order"><div class="nav-active">주문하기</div></a></li>
                    <li><a href="/order">이달의 식단표</a></li>
                    <li><a href="/order">주문조회</a></li>
                </ul>
            </div>
        </div> <!-- /END CONTAINER -->
    </div> <!-- /END STICKY NAVIGATION -->

</header>
<!-- /END HEADER -->

<!-- =========================
     SECTION 1 - 제품
============================== -->
<section class="app-brief product-section">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">

            <div class="h2" style="font-weight: bold; color: white" th:text="${productName}"></div>
            <div style="border-bottom: solid 1px #ff4500; width: 150px;position: absolute;left: 50%;transform: translate(-50%);margin-top: 10px;"></div>
        </div>
        <!-- /END SECTION HEADER -->

        <div class="row">

            <div class="col-md-5 wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">
                <div>
                    <a class="order-menu-gallery" href="https://poman.kr:9530/api/v1.2/assets/images/stores/1/products/1/1.jpg" data-lightbox-gallery="screenshots-gallery">
                        <img class="order-menu-image" src="https://poman.kr:9530/api/v1.2/assets/images/stores/1/products/1/1.jpg" alt="포만세트">
                    </a>
                    <div>1/23에 촬영된 예시 사진입니다.</div>
                    <div>금일 메뉴는 오른쪽에 적혀있습니다.</div>

                </div>
            </div>
            <div class="col-md-7 wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s">

            </div>

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->
</section>
<!-- /END SECTION 1 -->


<!-- =========================
     FOOTER
============================== -->
<footer class="deep-dark-bg">
    <!-- COPYRIGHT TEXT -->
    <div class="copyright" style="width: 350px">
        <p>
            <b><a href="/">©포만감</a></b>
        </p>
        <p>
            사업자등록번호. 546-05-00933  |  대표자. 최은성<br>
            <a href="https://poman.kr:9530/api/v1.2/policies/info" target="_blank">통신판매번호. 2019-고양덕양구-0617</a><br>
            상호명. 포만감  |  Tel. 0507-1300-6906<br>
            경기도 고양시 일산동구 숲속마을2로 114-3, 1층 101호 <br>
            <a href="mailto:contact@poman.kr">contact@poman.kr</a>
        </p>
        <!-- SOCIAL ICONS -->
        <ul style="display: inline-block">
            <li style="display: inline;"><a href="https://www.facebook.com/pomangam" class="facebook"></a></li>
            <li style="display: inline;"><a href="https://www.instagram.com/pomangam_official" class="instagram"></a></li>
            <li style="display: inline;"><a href="http://pf.kakao.com/_xlxbhlj" class="kakao"></a></li>
        </ul>
    </div>
</footer>
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS
============================== -->

<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/smoothscroll.js"></script>
<script src="../../js/jquery.scrollTo.min.js"></script>
<script src="../../js/jquery.localScroll.min.js"></script>
<script src="../../js/owl.carousel.min.js"></script>
<script src="../../js/nivo-lightbox.min.js"></script>
<script src="../../js/simple-expand.min.js"></script>
<script src="../../js/wow.min.js"></script>
<script src="../../js/jquery.stellar.min.js"></script>
<script src="../../js/retina.min.js"></script>
<script src="../../js/matchMedia.js"></script>
<script src="../../js/jquery.backgroundvideo.min.js"></script>
<script src="../../js/jquery.nav.js"></script>
<script src="../../js/jquery.ajaxchimp.min.js"></script>
<script src="../../js/jquery.fitvids.js"></script>
<!--<script src="js/custom.js"></script>-->

<script th:inline="javascript">
  var pIdx= /*[[ ${session.pIdx} ]]*/ "";
  var quantity= /*[[ ${session.quantity} ]]*/ "";
  console.log(pIdx ?? "");
  console.log(quantity ?? "");


  /* =================================
  ===  Nivo Lightbox              ====
  =================================== */
  $(document).ready(function () {
    $('.order-menu-gallery').nivoLightbox({
      effect: 'fadeScale',
    });
  });

  /* =================================
       LOADER
  =================================== */
  // makes sure the whole site is loaded
  jQuery(window).load(function() {
    // will first fade out the loading animation
    jQuery(".status").fadeOut();
    // will fade out the whole DIV that covers the website.
    jQuery(".preloader").fadeOut();
  });

  /* =================================
  ===  FULL SCREEN HEADER         ====
  =================================== */
  function alturaMaxima() {
    var altura = $(window).height();
    $(".full-screen").css('min-height',altura);

  }

  $(document).ready(function() {
    alturaMaxima();
    $(window).bind('resize', alturaMaxima);
  });


  $(document).ready(function() {
    alturaMaxima();
    $(window).bind('resize', alturaMaxima);
  });


  /* =================================
  ===  SMOOTH SCROLL             ====
  =================================== */
  var scrollAnimationTime = 1200,
    scrollAnimation = 'easeInOutExpo';
  $('a.scrollto').bind('click.smoothscroll', function (event) {
    event.preventDefault();
    var target = this.hash;
    $('html, body').stop().animate({
      'scrollTop': $(target).offset().top
    }, scrollAnimationTime, scrollAnimation, function () {
      window.location.hash = target;
    });
  });


  /* =================================
  ===  WOW ANIMATION             ====
  =================================== */
  wow = new WOW(
    {
      mobile: false
    });
  wow.init();

  /* =================================
  ===  Bootstrap Internet Explorer 10 in Windows 8 and Windows Phone 8 FIX
  =================================== */
  if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement('style')
    msViewportStyle.appendChild(
      document.createTextNode(
        '@-ms-viewport{width:auto!important}'
      )
    )
    document.querySelector('head').appendChild(msViewportStyle)
  }
</script>

</body>
</html>